@use "sass:meta";
@import "./utils/variables";
@import "./base/global.scss";


/* Header */

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    h1 { margin: 10px 0; }
}

#location {
    background-color: $bgGray;
    width: 100%;
    text-align: center;
    box-shadow: $ltInset;
}

