@use "sass:meta";
@import "../utils/variables";

body {
    padding: 0;
    margin: 0;
}

.l-page-wrapper {
    padding: 0;
    margin: 0;
    a { text-decoration: none; }
    ul li {
        list-style: none;
    }
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p, li, a {
    color: $textColor;
    font-family: #{meta.inspect($textFont)};
    color: $textColor;
}


h1 {
    font-family: #{meta.inspect($logoFont)};
    color: black;
}

section {
    padding: 30px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    h3 {
        // margin-top: 0;
        font-weight: 900;
        color: black;
        font-size: 1.5em;
        width: 100%;
    }
}  

