@import "../utils/variables";
/*
These are Menu specific page styles
*/
.c-header {
    &__back-arrow {
        position: absolute;
        left: 20px;
        top: 20px;
        font-size: 18px;
    }
}

.c-main-image {
    position: relative;
    img {
        width: 100%;
        height: auto;
    }
}

.l-menu-outer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px 20px 40px 20px;
    border-radius: 40px 40px 0 0;
    overflow: hidden;
    background-color: $bgMdGray;
    margin-top: -40px;
    z-index: 200;
}

.c-restaurant-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    &__name {
        margin-top: 0;
    }
    &__favorite {
        font-size: 26px;
        margin-top: 10px;
    }
}

